<%= simple_form_for @menu_item do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :name,  {prompt: "Choose a category"} %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :price %>    
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
