<% @category.menu_items.each do |menu_item| %>
  <div class="container">
    <div class="col-md-4">
      <div class="menu_item">
        <h3><%= menu_item.title %></h3>
        <h5><%= menu_item.description %></h5>
        <p><%= number_to_currency(menu_item.price) %></p>
        <%= link_to "Edit", edit_menu_item_path(menu_item) %>
        <%= link_to "Delete", menu_items_path, method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
<% end %>
