<nav class="navbar navbar-default navbar-expand-lg" role="navigation" id="navbar">
	<div class="container">
		<div><h1><%= link_to "Tagam", root_path, class: "navbar-brand" %></h1></div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><%= link_to "Menu", "/menus" %></li>
				<li><%= link_to "Custom", root_path %></li>
				<li><%= link_to "Wedding", root_path %></li>
				<li><%= link_to "New Menu Item", new_menu_item_path %></li>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Contact", contact_path %></li>			
			</ul>
		</div>
	</div>
</nav>